<input type="text" placeholder="search" class="search" (keyup)=search($event)>

  <div class="container items" >
      <div class="row">
          <div class="col-6 forCardStyle"  *ngFor="let product of Products">
            <h5 class="card-title">{{product.Name}} </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.subtitle}}</h6>
            <p class="card-text">{{product.description}}</p>
            <button type="button" class="btn btn-info" (click)=addToCart(product.Name) >Add to Cart</button>
          </div>
      </div>
  </div>
